.DS_Store
*.DS_Store

__pycache__

*_disp.jpg
*_disp.npy
*.log
*.logs
*.npz
*.pth
*.pyc
*.sh

kitti_data
nyu_data
kitti_c
nyu_c
log
logs
model
models
old_logs

create_icra.py
utils_icra.py

!scripts/*.sh