__pycache__/
**/__pycache
*~
slurm-*.out
*.pth
*.npy
*_losses.json
.idea
test_*.sh
train.sh

train_proposed_local.sh
eval_depth_local.sh
eval_segmentation_local.sh
eval_pose_local.sh
results.txt
backup
backup/inference_2.py
backup/inference.py
inference_local.sh